@font-face {
    font-family: 'Quicksand';
    src: url(../assets/fonts/Quicksand/static/Quicksand-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Quicksand';
    src: url(../assets/fonts/Quicksand/static/Quicksand-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Quicksand';
    src: url(../assets/fonts/Quicksand/static/Quicksand-Bold.ttf);
    font-weight: 700;
}

$font-quicksand: 'Quicksand', sans-serif;
